<div class="sticky-container">
    <ul class="sticky">
        <li>
            <a href="https://www.facebook.com/GustoCoffeeKASAgency/" target="_blank">
                <img width="32" height="32" title="" alt="facebook" src="{{ asset('img/social/facebook.png') }}" />
                <p>Facebook</p>
            </a>
        </li>
        <li> <img width="32" height="32" title="" alt="twitter" src="{{ asset('img/social/twitter.png') }}" />
            <p>Twitter</p>
        </li>
        <li> <img width="30" height="32" title="" alt="instagram" src="{{ asset('img/social/instagram.png') }}" />
            <p>Instagram</p>
        </li>
    </ul>
</div>