.topPageDashboard {
  background-image: url("../img/dashboard2.jpg");
}

.topPageFacture {
  background-image: url("../img/background_dashboard.jpg");
  background-position: center;
}


.textDlFacture {
  text-align: right;
  margin-top: 17px;
}
