.topPageRequest {
  background-image: url("../img/background_connexion.jpg");
}

input {
  margin: 13px 0;
  padding: 12px;
  border: 1px solid #8a8a8a;
  border-radius: 2px;
  height: auto;
  width: 100%;
}