.topPageReservation {
  background-image: url("../img/background_resa.jpeg");
  background-position: center;
}

.topPageReservationSalle {
  background-image: url("../img/background_resa-salle.jpg");
  background-position: center;
}

//Panier
.panier-salle-none-selected{
  color:darkred;
}

.tablePrice {
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px;
}

.tablePriceSecondRow {
  padding-left: 30px;
  text-align: center;
}

.lineRow {
  padding-top: 10px;

}

.firstLine {
  border-bottom: solid 1px rgba(10,10,10,0.05);
}

.placeIndividuelle {
  float: right;
}

.placeQuestion {
  text-align: center;
  padding-bottom: 40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 45%;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerCard {
  padding: 2px 16px;
}

.containerCard:hover .overlay {
  bottom: 0;
  height: 100%;
}


.cardTitle {
  font-size: inherit;
}

.slider {
  background: white;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  margin-left: auto;
  width: 70%;
}


.status {
    color: white;
    padding: 10px 0;
    text-align: center;
    background: #a6854d;
}

.shop-address {
    padding: 5px 15px 10px 15px;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
#myModal {
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #a6854d;
    color: white;
  }

  .modal-body {
    padding: 2px 16px;
  }

  .modal-footer {
    padding: 2px 16px;
    background-color: #a6854d;
    color: white;
  }
}

@media only screen and (max-width: 991px) {
  .slider {
    width: 100%;
  }
  .placeIndividuelle {
    float: inherit;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}


