{% extends '::base.html.twig' %}

{% block menu %}
{% endblock %}

{% block firstImg %}
{% endblock %}
{% block firstTitle %}
{% endblock %}

{% block body %}
<h1>Internal server error : error 500</h1>
    <div class='coffee-maker'>
        <div class='coffee-loader-top'></div>
        <div class='carafe'>
            <ul>
                <li>100%</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>
            <div class='contain'>
                <div class='drip'></div>
                <div class='coffee-loader'></div>
            </div>
            <div class='handle'></div>
        </div>
        <div class='side'></div>
        <div class='base'></div>
    </div>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="/">return to the homepage</a>.
    </p>
{% endblock %}