<div id="div_graph"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" async defer>
    {{ gc_draw(amountByYear, 'div_graph') }}
</script>