#Ignoring files
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml


#Styling
/node_modules/
/app/Resources/lib
# Cache logs
/var/*
/var/cache
/var/cache/*
var/cache/.gitkeep
/var/logs
/var/logs/*
var/logs/.gitkeep
/var/sessions
/var/sessions/*
var/sessions/.gitkeep
var/SymfonyRequirements.php
/vendor/
/vendor/*
/web/bundles/
.idea/
var/
