#Ignoring files


# Residus and temps
*~
*.DS_Store
.AppleDouble
.LSOverride

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

/.web-server-pid
/app/config/parameters.yml
/phpunit.xml


#Styling
/node_modules/
/web/node_modules/
/app/Resources/lib
/web/build/app.*.js
/web/build/ajax.*.js
/web/build/global.*.css

# Cache logs
/var/*
/var/cache
/var/cache/*
var/cache/.gitkeep
/var/logs
/var/logs/*
var/logs/.gitkeep
/var/sessions
/var/sessions/*
var/sessions/.gitkeep
var/SymfonyRequirements.php
/vendor/
/vendor/*
/web/bundles/
.idea/
var/
