<div class="tunnel-achat-workflow">
    <div class="board-inner">
        <ul class="nav nav-tabs" id="myTab">
            <div class="liner"></div>
            <li class="active">
                <a href="" id="tab-link-salle" data-toggle="tab" title="Salles" class="tc-link">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span>
                </a>
            </li>

            <li>
                <a href="" id="tab-link-produit" data-toggle="tab" title="Produits" class="tc-link">
                     <span class="round-tabs two ">
                         <i class="glyphicon glyphicon-glass"></i>
                     </span>
                </a>
            </li>
            <li><a href="" id="tab-link-facturation" data-toggle="tab" title="Facturation" class="tc-link grayForbiddenLink">
                     <span class="round-tabs three grayForbidden">
                          <i class="fa fa-address-card"></i>
                     </span>
                </a>
            </li>

            <li><a href="" id="tab-link-validation" data-toggle="tab" title="Mode de Paiemnt" class="tc-link grayForbiddenLink">
                         <span class="round-tabs four grayForbidden">
                              <i class="glyphicon glyphicon-credit-card"></i>
                         </span>
                </a>
            </li>

            <li>
                <a href="" id="tab-link-paiement" data-toggle="tab" title="Paiement" class="tc-link grayForbiddenLink">
                         <span class="round-tabs five grayForbidden">
                              <i class="glyphicon glyphicon-ok "></i>
                         </span>
                </a>
            </li>

        </ul>
    </div>
</div>