<div id="carte-places-individuelles">
        <h1>Carte interactive des places individuelles</h1>
        <div id="seat-map">
            <div class="front-indicator">Salle OpenSpace</div>
        </div>
        <div class="booking-details">
            <h2>Détail Réservation</h2>
            <h3>Place selectionnée (<span id="counter">0</span>):</h3>
            <ul id="selected-seats">
            </ul>
            Total: <b>€<span id="total">0</span></b>
            <button class="checkout-button">Valider &raquo;</button>
            <div id="legend"></div>
        </div>
</div>