{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    <title>Confirmed registerGustoCoffee</title>
{% endblock %}

{% block firstImg %}
topPage topPageLogin
{% endblock %}

{% block paddingTitle %}
    paddingTitle
{% endblock %}

{% block titleHome %}
    Inscription CoWorking
{% endblock %}



{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-12">
            <h2 class="titlePara">Inscription Terminée</h2>
            <div class="col-md-12">
                <p class="centerText sizeFont">{{ 'registration.confirmed'|trans({'%username%': user.username})|nl2br }}</p>
                {% if targetUrl %}
                    <p class="centerText sizeFont"><a href="{{ targetUrl }}">{{ 'registration.back'|trans|nl2br }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
