{% extends 'base.html.twig' %}

{% block firstImg %}
    style='background-image: url({{ asset('img/backReservation.jpeg') }});'>
{% endblock %}

{% block firstTitle %}
    <h2 class="titleHome">Réservation CoWorking</h2>
{% endblock %}

{% block firstBlock %}
    <div class="row addPadding">
        <div class="col-md-12 ">
            <h2 class="titleReservation">Réservez votre place !!</h2>
            <div class="clearText"></div>
            <p class="textReservation"><strong>Consommez à volonté, chez GustoCoffee !</strong> Demandez à avoir un petit déjeuner, déjeuner ou encore à dîner si vous le souhitez.<br>
                Obtenez <strong>10% de réduction</strong> sur la restauration, les services bureautique en réservant directement sur notre site internet !
            </p>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block secondBlock %}
    <div class="row addPadding">
        <h2 class="col-md-12 placeQuestion">Quelle place souhaitez vous avoir au sein de GustoCoffee ?</h2>
        <div class="clear"></div>
        <div class="col-md-5 cardReservation">
            <div class="card placeIndividuelle">
                <img src="{{ asset('place/individuelPlace.jpg') }}" alt="Place individuelle" style="width:100%">
                <div class="containerCard">
                    <h4><b>Place individuelle</b></h4>
                    <p>Choisir une place</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 cardReservation">
            <div class="card">
                <img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">
                <div class="containerCard">
                    <h4><b>Salle privatisée</b></h4>
                    <p>Choisir une salle</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block thirdBlock %}

{% endblock %}