{% extends 'base.html.twig' %}

{% block firstImg %}
    style='background-image: url({{ asset('img/backReservation.jpeg') }});'>
{% endblock %}

{% block firstTitle %}
    <h2 class="titleHome">Réservation CoWorking</h2>
{% endblock %}

{% block firstBlock %}
    <div class="row customPadding">
        <div class="col-md-12 ">
            <h2 class="titleReservation">Réservez votre place !!</h2>
            <div class="clearText"></div>
            <p class="textReservation textDescription"><strong>Consommez à volonté, chez GustoCoffee !</strong> Demandez à avoir un petit déjeuner, déjeuner ou encore à dîner si vous le souhaitez.<br>

            </p>
        </div>
        <div class="col-md-12" >
            <div class="tablePrice">
                <table>
                    <thead>
                    <tr class="firstLine">
                        <th class="lineRow"> Nos services </th>
                        <th class="tablePriceSecondRow lineRow"> Prix / personne</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="lineRow"> Première heure </td>
                        <td class="tablePriceSecondRow lineRow"> 5€ </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> 1/2 heure supplémentaires </td>
                        <td class="tablePriceSecondRow lineRow"> 2€ </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> Troisième heures </td>
                        <td class="tablePriceSecondRow lineRow"> Offerte </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> Journée </td>
                        <td class="tablePriceSecondRow lineRow"> 20€ </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> Service bureautique </td>
                        <td class="tablePriceSecondRow lineRow"> 10€ / groupe </td>
                    </tr>
                    <tr>
                        <td class="lineRow"> Petit déjeuner, déjeuner & dîner </td>
                        <td class="tablePriceSecondRow lineRow"> 5€ </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <p class="textReservation textDescription">
                <br>Obtenez <strong>10% de réduction</strong> sur la restauration, les services bureautique en réservant directement sur notre site internet !<br>
                Les gaufres, les crêpes, le cafés ainsi que le thé sont <strong>à volonté</strong> !!
            </p>
        </div>
    </div>
{% endblock %}

{% block secondBlock %}
    <div class="row addPadding">
        <h2 class="col-md-12 placeQuestion">Quelle place souhaitez vous avoir au sein de GustoCoffee ?</h2>
        <div class="clear"></div>
        <div class="col-md-5 cardReservation">
            <div class="card placeIndividuelle">
                <img src="{{ asset('place/individuelPlace.jpg') }}" alt="Place individuelle" style="width:100%">
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>Place individuelle</strong></h4>
                    <p>Choisir une place</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 cardReservation">
            <div class="card">
                <img src="{{ asset('place/groupPlace.jpg') }}" alt="Salle privatisée" style="width:100%">
                <div class="containerCard">
                    <h4 class="cardTitle"><strong>Salle privatisée</strong></h4>
                    <p>Choisir une salle</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block thirdBlock %}

{% endblock %}